body, html {
    height: 100%;
    margin: 0;
}

body {
    background: url('background.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20% 1em 1em;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #ccc;
}

h1, h2 {
    text-shadow: 2px 2px 4px #000000;
}