body, html {
    height: 100%;
    margin: 0;
}
body {
    background: url('background.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #ccc;
}

.content {
    padding: 2em 1em;
}

.project {
    background-color: rgba(0, 0, 0, 0.7); /* Match background color */
    border-radius: 8px;
    padding: 1em;
    margin: 1em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project:hover {
    transform: translateY(-5px);
}

.project a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed transparent; /* Initially transparent */
    transition: border-color 0.3s; /* Smooth transition for border color */
}

.project a:hover {
    color: #ccc; /* Hover color */
    border-bottom-color: #ccc; /* Show underline on hover */
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

h1, h2, h3, p {
    color: white;
}